<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>qcaas</display-name>
  <!-- Uncomment to support digitally-signed messages.  
       Must also be enabled in qcaas configuration, as well as in the client.
       Private keys and appropriate certificates must also be installed.
  <filter>
    <filter-name>request-verifier</filter-name>
    <filter-class>gov.noaa.pmel.qcaas.ws.SignedMsgVerifier</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>request-verifier</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
    -->
  <servlet>
    <servlet-name>jersey</servlet-name>
    <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
    <init-param>
      <param-name>com.sun.jersey.config.property.packages</param-name>
      <param-value>gov.noaa.pmel.qcaas.ws</param-value>
    </init-param>
    <init-param>
      <param-name>jersey.config.server.provider.classnames</param-name>
      <param-value>com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider</param-value>
    </init-param>
    <init-param>
      <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
      <param-value>true</param-value>
    </init-param>
    <!--  Uncomment to support upload of files
    <multipart-config>
      <location>temp</location> <!-X- tomcat default temp dir. -X->
      <max-file-size>524288000</max-file-size>
      <file-size-threshold>1024000</file-size-threshold>
    </multipart-config>
     -->
  </servlet>
  <servlet-mapping>
    <servlet-name>jersey</servlet-name>
    <url-pattern>/ws/*</url-pattern> <!-- REST Web Service context -->
  </servlet-mapping>
  
    <listener>
        <!-- Initialize ApplicationConfiguration -->
        <listener-class>gov.noaa.pmel.qcaas.ws.Initialization</listener-class>
    </listener>
    
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
</web-app>